extends layout
block content
	.name #{conference.name}
    .date #{conference.date}
    .debut #{conference.debut}
    .fin #{conference.fin}
    a(href="/chat/3002") go to the chat
	br
	a(href="/conferences") conferences 